.formItemRadioWrap
{
   display:flex;
   flex-wrap:wrap;

}

.formItemRadioWrap label
{
 border:1px solid #ccc;
 text-align:center;
 padding:10px;
 margin:5px;
 border-radius:2px;

}

.formItemRadioWrap label:hover
{
   background:#ccc;
   cursor:pointer;

}

.formItemRadioWrap label span
{
display:block;
}

.agreedMarkingAssessorList li
{
   padding:2px;
}



.agreedMarkingAssessorListWrap
{
   padding-bottom:10px;
   margin-bottom:5px;



}

.agreedMarkingFormItem
{
border:1px solid #ccc;
padding:10px;
margin:10px;
border-radius:5px;

}

.formItemDescription
{
   font-weight:bold;
}

.agreedMarkingTextarea
{
   width:600px;
   height:100px;
   border:1px solid #333;
   padding:10px;
   border-radius:2px;
   font-size:14px;
}




.cirteriaGroupWrap
{
   border:1px solid #333;
   border-radius:5px;
   margin-bottom:20px;
}

.cirteriaGroupWrap .criteriaGroupTitle
{
   background:#336699;
   color:#fff;
   padding:10px;
   display:flex;
   font-size:25px;
   justify-content: space-between;

}

.cirteriaGroupWrap .criteriaList
{
   padding:20px;
}
